<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <table id="tProducto" style="width:100%">
            <tr>
              <th>Nombre</th>
              <th>Tallas</th> 
              <th>Valor</th>
              <th>Stock</th>
            </tr>
            <% for(let i=0; i<(<%=tam%>); i++){%>
                <tr>
                    <th><%=ps[i].nombre%></th>
                    <th><%=ps[i].talla%></th> 
                    <th><%=ps[i].valor%></th>
                    <th><%=ps[i].stock%></th>
                  </tr>
            <% }%>
          </table>
          <br/><br/>
          <button onclick="traeProd()">Ver Productos</button>
    </body>
</html>